<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.grk.dao.OptionDao">
    <insert id="insertOption">
        insert into vote_option values
        <foreach collection="options" item="option" separator=",">
            <if test="option!=null and option.voOption!=null and !option.voOption.equals('')">
                (0,#{option.voOption},#{option.vsId},#{option.voOrder},#{option.voIdDelete})
            </if>
        </foreach>

    </insert>

    <update id="updateOption" parameterType="Option">
        update vote_option
        <set>
            <if test="voOption!=null and !voOption.equals('')">
                vo_option = #{voOption}
            </if>
        </set>
        where vo_id = #{voId}
    </update>

</mapper>
